In [2]:
import pandas as pd
import numpy as np

In [3]:
orders = pd.read_csv("merged_orders.csv")
customers = pd.read_csv("customers_dataset.csv")
sellers = pd.read_csv("sellers_dataset.csv")
geolocation = pd.read_csv("geolocation_dataset.csv")

In [4]:
orders = orders.merge(customers[['customer_id', 'customer_unique_id', 'customer_city', 'customer_state', 'customer_zip_code_prefix']], how='left', on='customer_id')
orders = orders.merge(sellers[['seller_id', 'seller_city']], how='left', on='seller_id')

In [5]:
geo_avg = geolocation.groupby('geolocation_zip_code_prefix')[['geolocation_lat', 'geolocation_lng']].mean().reset_index()
orders = orders.merge(geo_avg, how='left', left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix')

In [6]:
orders.isna().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                    0
order_delivered_carrier_date         0
order_delivered_customer_date        0
order_estimated_delivery_date        0
purchase_year_month                  0
seller_id                          833
product_id                         833
product_category_english           833
price                              833
payment_type                         0
payment_value                        3
payment_installments                 0
review_score                       997
review_comment_message           68898
delivery_days                        0
delivery_delay                       0
customer_unique_id                   0
customer_city                        0
customer_state                       0
customer_zip_code_prefix             0
seller_city                        833
geolocation_zip_code_prefix        322
geolocation_lat                    322
geolocation_lng                    322
dtype: int64

In [7]:
#median_coords = orders.groupby('customer_city')[['geolocation_lat', 'geolocation_lng']].transform('median')
#orders[['geolocation_lat', 'geolocation_lng']] = orders[['geolocation_lat', 'geolocation_lng']].fillna(median_coords)

In [8]:
median_lat = orders['geolocation_lat'].median()
median_lng = orders['geolocation_lng'].median()

orders['geolocation_lat'] = orders['geolocation_lat'].fillna(median_lat)
orders['geolocation_lng'] = orders['geolocation_lng'].fillna(median_lng)

In [9]:
pd.set_option('display.max_columns', None)
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,purchase_year_month,seller_id,product_id,product_category_english,price,payment_type,payment_value,payment_installments,review_score,review_comment_message,delivery_days,delivery_delay,customer_unique_id,customer_city,customer_state,customer_zip_code_prefix,seller_city,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,credit_card,18.12,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,voucher,2.00,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,voucher,18.59,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018-07,289cdb325fb7e7f891c38608bf9e0962,595fac2a385ac33a80bd5114aec74eb8,perfumery,118.70,boleto,141.46,1,4.0,Muito bom o produto.,13,-6,af07308b275d755c9edb36a90c618231,barreiras,BA,47813,belo horizonte,47813.0,-12.177924,-44.660711
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018-08,4869f7a5dfa277a7dca6462dcf3b52b2,aa4383b373c6aca5d8797843e5594415,auto,159.90,credit_card,179.12,3,5.0,NaN,9,-18,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO,75265,guariba,75265.0,-16.745150,-48.514783

In [10]:
# Mengetahui 1 customer_unique_id dapat memiliki banyak customer_id
cek_cust = customers.groupby(by='customer_unique_id', as_index=True).agg(nunique_custid=('customer_id', pd.Series.nunique))
cek_cust = cek_cust[cek_cust['nunique_custid']>2]
cek_cust.head()

                                  nunique_custid
customer_unique_id
02e9109b7e0a985108b43e573b6afb23               3
041caba6a63ace5818387698ea85cdb2               3
043aee247e71edff7045664609f4d806               3
06a52782a04f0086d16b9c22d0e29438               3
07b1b60bca2b6326fa2adb259ea4a55f               3

In [11]:
customers[customers['customer_unique_id']=='02e9109b7e0a985108b43e573b6afb23']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
24062,1ae196062dab95e434e781a5319f0ab9,02e9109b7e0a985108b43e573b6afb23,4902,sao paulo,SP
24392,14676dd9c40ad83f2a980ac36077cdb9,02e9109b7e0a985108b43e573b6afb23,4902,sao paulo,SP
55764,76525f0c94f889d91e4335fae56eaaaf,02e9109b7e0a985108b43e573b6afb23,4902,sao paulo,SP

In [12]:
# Menghitung jumlah product_id tiap order_id
qty = orders.groupby(['order_id','product_id'], as_index=False).agg(cnt=('product_id','count'))
#qty = qty[qty['cnt']>1]
qty.head()

                           order_id                        product_id  cnt
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61    1
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f    1
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd    1
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc    1
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089    1

In [13]:
# Mengecek penjumlahan product_id tiap order_id
orderid = ['002f98c0f7efd42638ed6100ca699b42','e481f51cbdc54678b7cc49136f2d6af7']
qty[qty['order_id'].isin(orderid)]

                               order_id                        product_id  cnt
73     002f98c0f7efd42638ed6100ca699b42  880be32f4db1d9f6e2bec38fb6ac23ab    1
74     002f98c0f7efd42638ed6100ca699b42  d41dc2f2979f52d75d78714b378d4068    1
91642  e481f51cbdc54678b7cc49136f2d6af7  87285b34884572647811a353c7ac498a    3

In [14]:
# Mapping value cnt ke dalam dataframe orders berdasarkan order_id dan product_id
orders = orders.merge(qty[['order_id','product_id','cnt']], how='left', on=['order_id','product_id'])
orders['cnt'] = orders['cnt'].fillna(0)
orders['cnt'] = orders['cnt'].astype('int64')

In [15]:
# Mengecek penjumlahan product_id tiap order_id pada dataframe orders
orders[orders['order_id'].isin(orderid)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,purchase_year_month,seller_id,product_id,product_category_english,price,payment_type,payment_value,payment_installments,review_score,review_comment_message,delivery_days,delivery_delay,customer_unique_id,customer_city,customer_state,customer_zip_code_prefix,seller_city,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,cnt
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,credit_card,18.12,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161,3
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,voucher,2.00,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161,3
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10,3504c0cb71d7fa48d967e0e4c94d59d9,87285b34884572647811a353c7ac498a,housewares,29.99,voucher,18.59,1,4.0,"Não testei o produto ainda, mas ele veio corre...",8,-8,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3149,maua,3149.0,-23.576983,-46.587161,3
90588,002f98c0f7efd42638ed6100ca699b42,75fd1fb0bb511fc71ac2b2649c02b21b,delivered,2017-08-04 09:19:10,2017-08-04 09:30:15,2017-08-04 18:09:47,2017-08-07 19:07:30,2017-09-05,2017-08,7299e27ed73d2ad986de7f7c77d919fa,d41dc2f2979f52d75d78714b378d4068,consoles_games,8.99,credit_card,93.62,9,5.0,NaN,3,-29,2e875ea57961ad115cec13fef0920ae6,porto alegre,RS,91910,araguari,91910.0,-30.103114,-51.242611,1
90589,002f98c0f7efd42638ed6100ca699b42,75fd1fb0bb511fc71ac2b2649c02b21b,delivered,2017-08-04 09:19:10,2017-08-04 09:30:15,2017-08-04 18:09:47,2017-08-07 19:07:30,2017-09-05,2017-08,fa40cc5b934574b62717c68f3d678b6d,880be32f4db1d9f6e2bec38fb6ac23ab,toys,44.90,credit_card,93.62,9,5.0,NaN,3,-29,2e875ea57961ad115cec13fef0920ae6,porto alegre,RS,91910,sao paulo,91910.0,-30.103114,-51.242611,1

In [16]:
orders.isna().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                    0
order_delivered_carrier_date         0
order_delivered_customer_date        0
order_estimated_delivery_date        0
purchase_year_month                  0
seller_id                          833
product_id                         833
product_category_english           833
price                              833
payment_type                         0
payment_value                        3
payment_installments                 0
review_score                       997
review_comment_message           68898
delivery_days                        0
delivery_delay                       0
customer_unique_id                   0
customer_city                        0
customer_state                       0
customer_zip_code_prefix             0
seller_city                        833
geolocation_zip_code_prefix        322
geolocation_lat                      0
geolocation_lng                      0
cnt                                  0
dtype: int64

In [34]:
# Export the DataFrame to a CSV file
orders.to_csv('merged_df.csv', index=False)